 "FRESADORA 500-2 (OPERACION 2)",
      "INSERTO FLY CUTTER (EDPT) NP-2980568",
      "SPOT DRILL 1/4 NP-62793773",
      "DRILL.116 IN NP-64534129",
      "DRILL.437 IN NP-4150753",
      "END MILL 3/16 IN NP-84311869",
      "DRILL.156 IN NP-05790928",
      "DRILL.468 IN NP-4149314",
      "END MILL 3/8 IN NP-88250238",
      "END MILL 1/2 IN NP-HPTLS0144",
      "DRILL .136 IN NP-44874907",
      "AVELLANADOR 3/8 IN NP-06298574",
      "THREAD MILL 1/4 IN NP-55419030",
      "THREAD M14 X1 (STN111) NP-2404449",
      "FRESADORA HM 6300 (OPERACION 3)",
      "INSERTO FLY CUTTER  GRANDE IN (KC725M) NP-6165759",
      "INSERTO FLY CUTTER  CHICO(EDPT) NP-2980568",
      "DRILL .156 IN NP-05790928",
      "DRILL.718 IN NP-4150406",
      "END MILL 1/2 IN NP-HPTLS0144",
      "DRILL .078 IN NP-79891891",
      "DRILL.468 IN NP-4149314",
      "DRILL .437 IN NP-4150753",
      "END MILL 7° 1/4 IN  NP-02257723",
      "AVELLANADOR 3/8 IN NP-06298574",
      "THEREAD MILL 1/4-18 NP-5443835",
      "THEREAD MILL (PEINE) M22 NP-6173134"